// scss 语法 https://www.jianshu.com/p/3259976b414b
@import './colors.css';
$bl:black;
$color:black green red;
$vg:variable-green;

:root{
    --gn:yellow;
}
.blue{
    color:blue;
    span{
        color:green;
    }
    .yellow{
        color:yellow;
    }
}

.green{
    composes:green from './App.css';
}

.font{
    font-size: 88px;
    line-height: 100px;
}

.compose{
    composes:blue;
    composes:font;
    background: var(--color-red);
}

.#{$vg}{ // scss变量使用在选择器上的形式
    color:var(--gn); // css 变量
    background: $bl; // scss 变量
    border:solid 1px nth($color,2); // scss 多值变量的使用方式
}

:global{
    .bg{
        background: #eee;
        margin:0 200px;
    }
}
